.imagelogo {
  width: 60px;
  height: 60px;
}

.muidrawertwoiconbutton {
  position: sticky;
}

.muiiconimage{
  position: sticky;
}

.drawervtwo {
  position: sticky;
}

.logoname {
  position: sticky;
  padding-left: 100px;
}

#root, div#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: block;
}

.inforater {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25vw;
  border: solid 1px black;
}

.infovoter {
  width: 20vw;
  display: flexbox;
  flex-flow: column;
  margin-left: auto;
  margin-right:auto;
}

.currentvote {
  width: 20vw;
  text-align: right;
}

.hearts {
  display: block;
  width: 20vw;
}

.heartstext {
  display: block;
  width:20vw;  
}

/* LOCATIONS COMPONENTS */

.scrollable-content {
  /* Style the scrollable content container */
  height: 100vh; /* Set a fixed height or any height you prefer */
  overflow-y: scroll; /* Enable vertical scrolling */
}

.fixed-component {
  /* Style the fixed component */
  position: fixed; /* Fix the component's position */
  top: 72px; /* Adjust the distance from the top */
  right: 20px; /* Adjust the distance from the right */
  width: 200px; /* Set a fixed width or any width you prefer */
  padding: 10px; /* Add padding for spacing */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow for visibility */
}

.nameZoom {
  text-decoration: underline;
}

.confirmButton {
background-color: whitesmoke; /* Background color for the button */
border: none;
border-radius: 10px; /* Adjust the border radius for rounded corners */
padding: 12px 24px; /* Adjust padding as needed */
font-size: 16px; /* Adjust font size as needed */
color: #8FA69D;
box-shadow: 6px 6px 12px #c0c0c0, -6px -6px 12px whitesmoke; /* Neumorphic shadow effect */
transition: all 0.2s ease-in-out; /* Smooth transition on hover */

&:hover {
  box-shadow: 4px 4px 8px #c0c0c0, -4px -4px 8px whitesmoke;
}

/* Active (clicked) effect */
&:active {
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
}

}

.infoContainer {
  height: 100vh;
  width: 41vw;
  display: block;
  background-color: #BFD9CD;
  color: black;
}

.info-card{
  z-index: 1;
  background-color: #8FA69D;
  color: whitesmoke;
}

.mapContainer {
  height: 100vh;
  width: 50vw;
  display: block;
  float: right;
  position: sticky;
}

.map-container {
  padding-left: 50%;
  height: 100%;
  width: 50%;
}

.place {
  box-sizing: border-box;
  padding-left: 10px;
  width: 50vw;
  border: solid 1px black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  cursor: move;
  background-color: #fff;
}

.daymarker h2 {
  border-top: solid 3px #F27C38;
  border-bottom: solid 3px #F27C38;
  color: #F27C38;
  font-size: 2.5em;
  padding-left: 1em;
}

.meal {
  color: #8FA69D;
  text-align: center;
}

.modaltitle {
  text-align: center;
}

