:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #fcf9f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./Assets/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

a {
  font-weight: 500;
  color: #f49867;
  text-decoration: inherit;
}
a:hover {
  color: #8fa69d;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #8fa69d;
  cursor: pointer;
  font: whitesmoke;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #f49867;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.about-me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18%;
}
