/* Include the Open Sans font from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/* JOURNAL */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#image {
  height: 20em;
  padding: 3rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: 10px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.button {
  background-color: white;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #abeeba;
  color: rgb(0, 0, 0);
}

nav {
  background-color: #fff;
  color: #000;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.journal {
  font-family: "Open Sans", sans-serif;
}

.journal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.journal-card {
  width: calc(33.33% - 20px);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.journal-card h2 {
  font-size: 20px;
  margin: 0;
}

.journal-card p {
  font-size: 16px;
  color: #555;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.single-journal-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journal-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 100%;
}

.journal-title {
  font-size: 24px;
  margin: 0;
  color: #333;
}

.journal-entry {
  font-size: 16px;
  color: #555;
}

.journal-image {
  max-width: 100%;
  margin-top: 20px;
}

.edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 20px;
}

.edit-button:hover {
  background-color: #0056b3;
}
